<a href="/dashboard/obras/<%= id %>" class="col-6">
    <div class="card">
        <div class="card-body">
            <span class="card-title"><%= name %></span>
            <% if(locals.city_name) {%>
                <span class="local" style="display: block;"><%= locals.city_name %> - <%= state_name %></span>
            <% } else { %>
                <span class="local" style="display: block;">Cidade não registrada</span>
            <% } %>
            <div class="tags">
                <% if(locals.tags) {%>
                    <% tags.map(tag => { %>
                        <span style="margin: 0px 5px;"><%= tag.name %></span>
                    <% }) %>
                <% } %>
            </div>
            <p class="card-text"><%= description %></p>
        </div>
    </div>
</a>