<main class="col-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>const selectedCityId = "<%= city %>"; const selectedStateUf = "<%=estadoUF%>"</script>
  
      <script src="/dashboard/Obra/Obra.js"></script>
    <!--  Conteúdo principal da página  -->
    <h1>Editar Obra</h1>
    <div class="container">
            <form method="post">
                <div class="row" id="row" style="border-radius: 10px;">
                    <div class="col-6">
                        <label for="tituloObra">Título:</label>
                        <input type="text" class="form-control" id="tituloObra" name="name" value="<%= construction.name %>" placeholder="Digite o Nome da Obra:"
                            aria-describedby="basic-addon3">
                    </div>
                    <div class="col-6">
                        
                        <div class="row">
                            <div class="col-12">
                                <label for="state">Estado</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    name="state" id="state">
                                    <option value="">Selecione</option>
                                    <% estados.map(estado=> { %>
                                        <option value="<%= estado.sigla %>" <%=estado.selected ? 'selected' : '' %> >
                                            <%= estado.nome %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="city">Cidade</label>
                            <select name="city" id="city" required>
                                <option value="">Selecione</option>
                            </select>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row" id="row" style="border-radius: 10px;">
                    <div class="col-6">
                        <label for="descObra">Descrição:</label>
                        <input type="hidden" id="descricao" value="<%= construction.description %>">
                        <textarea rows="12" cols="50" type="text" name="description" class="form-control"  id="descObra"
                            placeholder="Digite aqui a descrição da obra:" aria-describedby="basic-addon3">
                        </textarea>
                    </div>
                </div>    
                <div class="col-12" id="buttons">
                    <a href="/dashboard/obras/<%= construction.id %>/deletar">
                        <input type="button" id="button" class="btn btn-danger" value="Excluir">
                    </a>
                    <a href="">
                        <input type="submit" id="button" class="btn btn-success" value="Salvar">
                    </a>
                </div>
            </form>
    </div>
    <center>
    </center>
</main>
<script>
    document.getElementById('descObra').value = document.getElementById('descricao').value
</script>