<div class="container-fluid printipal-container">
    <script src="main/Busca/Busca.js"></script>
    <script>const selectedCityId = "<%= city %>"; const selectedStateUf = "<%=estadoUF%>"</script>
    <div class="row">
        <aside class="col-2 aside-filter">
            <form action="" method="get">
                <h2>Filtros</h2>
                <section>
                    <h3>Região</h3>
                    <label for="state">Estado</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="state" id="state">
                        <option value="">Selecione</option>
                        <% estados.map(estado => { %>
                            <option value="<%= estado.sigla %>" <%= estado.selected ? 'selected' : '' %> ><%= estado.nome %></option>
                        <% }) %>
                        
                    </select>
                    <label for="city">Cidade</label>
                    <select name="city" id="city">
                        <option value="">Selecione</option>
                    </select>
                </section>
                <input type="hidden" name="search" id="hiddenSearch">
                <button type="submit" onclick="return submitForm()">Filtrar</button>
            </form>
        </aside>
        <main class="col-10"> <!--  Conteúdo principal da página  -->
            <div class="row">
                <% if(search) { %>
                    <p class="results">Resultados para: <span><%= search %></span></p>
                <% } %>
            </div>
            <div class="row">
                <% for(let i = 0; i < obras.length; i++){ %>
                    <%- include('../Componentes/CardObra/CardObra', obras[i]) %>
                <% } %>
            </div>
        </main>
    </div>
</div>